<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861238017431-7lp1654t8b5hamkqsq6tkeo1mh4q8gq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861238017431-7lp1654t8b5hamkqsq6tkeo1mh4q8gq9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>861238017431-smbfp6ks3303br9r15joaprgkbr3sksh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-rmbSh-BxwYpHcvfiWisDlYMZZ1Nk-Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>861238017431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.santiago.elancerTodoP1</string>
	<key>PROJECT_ID</key>
	<string>todo-app-ba2b5</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-ba2b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861238017431:ios:c0d558585cb26d16ce58d2</string>
</dict>
</plist>